body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
}

section {
  padding: 1rem 2rem;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
}

a {
  color: #007acc;
  text-decoration: none;

}

a:hover {
  text-decoration: underline;
  color: #005b99;
}

#question-container {
  max-width: 20rem;
  justify-items: center;
  justify-self: center;
  margin: 15rem;
}

#choices {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.choice-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}

.choice-btn.clicked {
  pointer-events: none;
  opacity: 0.6;
}

.choice-btn.incorrect.clicked.chosen {
  pointer-events: none;
  background-color: red;
  opacity: 1.0;
}

.choice-btn.correct.clicked.chosen {
  pointer-events: none;
  background-color: green;
  opacity: 1.0;
}
.choice-btn.correct.clicked {
  pointer-events: none;
  background-color: green;
}

.choice-btn:hover {
  background: #d0eaff;
}

#login-container {
  max-width: 20rem;
  justify-items: center;
  justify-self: center;
  margin: 15rem;
}

#score-container {
  max-width: 20rem;
  width: 100%;
  justify-items: center;
  justify-self: right;
  margin: 3rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.hidden {
  display: none;
  pointer-events: none;
}

#next-btn {
  padding: 16px 20px;
  font-size: 1rem;
  background: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#next-btn:hover {
  background: #d0eaff;
}

#restart-btn {
  padding: 16px 20px;
  font-size: 1rem;
  background: #f0f0f0;
  border: 1px solid #888;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s;
}